
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Calibri, Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #111827;
}

canvas {
  display: block;
}